@import 'tailwindcss';

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
	--font-mono: 'IBM Plex Mono', ui-monospace, monospace;
}

@layer base {
	html {
		@apply scroll-smooth antialiased;
	}
	body {
		font-feature-settings: 'kern' 1, 'liga' 1;
	}
}
